@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../assets/weather-background.jpg");
  background-color: #242424;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242424;
  opacity: 0.8;
}

.title {
  text-align: center;
  color: rgb(243, 243, 243);
  opacity: 1;
}

.display {
  margin: 7em auto 0;
  background-color: #242424;
  color: rgb(243, 243, 243);
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
  max-width: 500px;
  animation: linear fadeInWithSlide 1s;
}

.item {
  text-align: center;
}

.openCityModalBtn {
  width: fit-content;
  padding: 1em;
  border: 1px solid rgb(243, 243, 243);
  background-color: #242424;
  color: rgb(243, 243, 243);
  border-radius: 0.5em;
  margin: 1em 0;
}

.openCityModalBtn:hover {
  color: #242424;
  background-color: rgb(243, 243, 243);
}

.info-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.location-data,
.weather-data {
  width: 50%;
  padding: 0.5em;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 0.5em;
  margin: 0.5em;
}

.location,
.weather,
.polution {
  margin-top: 0;
}

.pollution-bar img {
  width: 300px;
  height: auto;
  margin: auto;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 3px;
  position: relative;
  z-index: -1;
}

.pollution-bar {
  position: relative;
  z-index: -1;
}

.cover {
  position: absolute;
  right: 2px;
  top: 5px;
  height: 10px;
  width: 255px;
  background: rgb(243, 243, 243);
  z-index: 10;
  width: 0;
  transition: width 1s;
}

.content {
  color: #242424;
  max-width: 500px;
  margin: 0 auto;
  animation: linear fadeInWithRollUp 1s;
}

.size-comparison-image {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: black;
}

li > a:hover {
  color: rgb(97, 11, 109);
}

.map {
  margin-top: 2em;
  display: flex;
}

.map > iframe {
  width: 200px;
  height: 200px;
  border-radius: 0.5em;
  margin: auto;
}

/* modal component styles */
.modal-cover,
.transparent {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.modal-cover {
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.transparent {
  background: transparent;
  z-index: 2;
}

.modal-form {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  opacity: 1;
  padding: 3em 3em 1em;
  border-radius: 0.5em;
  animation: linear fadeInWithRollUp 1s;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: dodgerblue;
  color: rgb(243, 243, 243);
  border-radius: 0.5em 0.5em 0 0;
  padding: 5px;
}

.headline > h3 {
  margin: 0;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 0.7em 0;
}

.input > label {
  margin-right: 0.5em;
  margin-top: 5px;
}

.input > input {
  padding: 5px;
}

.headline > button {
  border: none;
  background: dodgerblue;
  color: rgb(243, 243, 243);
}

.btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0.7em 0 0;
}

.btn > button {
  margin: 0.5em;
  padding: 5px 8px;
}

#submit-btn {
  color: rgb(243, 243, 243);
  background: dodgerblue;
  border: none;
  border-radius: 5px;
  margin-right: -0.5px;
}

#submit-btn:hover {
  background: rgb(30, 120, 255);
}

.show {
  display: flex;
}

/* responsiveness, animations */
@media (min-width: 992px) {
  main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
  }

  .display {
    margin: 7em 0 0 0;
    width: 500px;
  }

  .content {
    margin: 7em 0 0 0;
  }

  .map > iframe {
    width: 510px;
    height: 510px;
  }
}

@keyframes fadeInWithSlide {
  from {
    transform: translateX(-7em);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 0.6;
  }
}

@keyframes fadeInWithRollUp {
  from {
    opacity: 0;
    transform: translateY(7em);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutWithRollDown {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translateY(7em);
  }
}

/* classes to animate the pollution-bar cover*/
.l-250 {
  width: 250px;
}

.l-200 {
  width: 200px;
}

.l-170 {
  width: 170px;
}

.l-90 {
  width: 90px;
}

.l-50 {
  width: 50px;
}
